@font-face{
	font-family: "base";
	src: url(../fonts/txt/Base02.ttf);
}
@import url('animation.css');

ul{
	list-style: none;
}
::-webkit-scrollbar              
{ 
	width: 10px;
  	background: #262626; 
}
::-webkit-scrollbar-button       
{ 
	width: 0px;
  	height: 0px; 
} 
::-webkit-scrollbar-track        
{
	background: #262626;
}
::-webkit-scrollbar-track-piece  
{ 
	background: #262626;
}
::-webkit-scrollbar-thumb        
{ 
	background: #46ff94;
	border-radius: 15px;
}

body{
	margin:0px;
	background-color: #262626;
}
.navbar{
	max-height: 7%;
	margin: 0px;
}
.menu{
	width: 100%;
	margin-top: 0.3%;
}
.navbar-brand>a{
	font-family: "base";
	font-size: 26px;
	color: #a2a5a5;	
}
.navbar-brand>a:hover{
	text-decoration: none;
	color: #00ffa5;
}
.navbar-collapse{
	background-color: #222222;
}
nav>div>div>ul>li>a:hover{
	color: #46ff94 !important; 
}
#slide>#carousel-example-generic>.carousel-inner>.item>img{
	width: 100%;
	height: auto;
	max-height: 90%;
}
.carousel-control{
	height: auto;
}
.service{
	width: 100%;
	height: 60%;
	max-height: 60%;
	background-color: #222222;
}
.titulos{
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-top: 5%;
}
.servicios{
	margin-top: 7%;
	margin-bottom: 10%;
	max-height: 100%;
}
.icon-container{
	height: auto;
	max-width: 100%;
	max-height: 100%;	
}
.servicios>.icon-container>.img-icon{
	margin-bottom: 12%;
}
.img-icon{
	height: auto;
	max-width: 100%;
	max-height: 100%;	
	left: 50%;	
}
.servicios>p{
	text-align: center;
	color: #9D9D9D;
}
.servicios>h2{
	text-align: center;
	margin-bottom: 5%;
	color: #fff;
}
.jumbotron{
	background-color: #6F6F6F;
}
.jumbotron>.container{
	color: #000;
}
.jumbotron>.container>h1{
	margin-bottom: 35px;
}
.planes{
	width: auto;
	margin-left: -7%;
}
.pack{
	background-color: #404040;
	border-radius: 5px;	
	margin-top: 7%;
	color: #7A7A7A;
}
.pack:hover{
	animation:paquete 0.8s;
  	-webkit-animation:paquete 0.8s; /* Safari and Chrome */
  	animation-fill-mode:forwards;
  	-webkit-animation-fill-mode:forwards; 
}
.pack-title{
	color: #d8d0da;
}
.pack-precio{
	text-align: center;
	padding: 0.1%;
	width: 100%;
	left: 0%;
	background-color: #04CA8E;	
	position:absolute;
	color: #fff;
}
.pack-precio>h4{
	font-size: 28px;
}
.pack-list{
	width: 100%;
	max-width: 100%;
	margin-top: 27%;
}
@media (min-width: 768px) and (max-width: 979px) { 
	.pack-list{
		margin-top: 15%;
	} 
}
.pack-item{
	width: 100%;
	margin-bottom: 7%;
	text-align: center;
}
.pack-item:hover{
	color: #04CA8E;
}
.pack-item>ul{
	list-style: circle;
	margin-left: 15%;
}
.oculto{
	display: none;	
}
.visible{
	display: block;
}
.modal-dialog{
	animation:paquete 0.8s;
  	-webkit-animation:paquete 0.8s; /* Safari and Chrome */
  	-o-animation:paquete 0.8s;
  	animation-fill-mode:forwards;
  	-webkit-animation-fill-mode:forwards; 
  	-o-animation-fill-mode:forwards; 	
}
/*.modal-content{
	background-color: #E7E7E7;
	color: #000;
}
.modal-body{
	color: #000;
}*/
div[class="modal-body"]>ul>li[class="active-verde menu-pack"]>a{
	color: #fff;
}
.active-verde{
	background-color: #04CA8E;	
	color: #fff;
	border-radius: 10px;
}
li[class="active-verde menu-pack"]>a:hover{
	background-color: #04CA8E;
	color: #fff;
}
.sangria{
	margin-left: 5%;
}
table[class="table table-responsive text-center"]>tbody>tr:hover>td{
	background-color: #45C794 !important;
	color: #fff;	
	font-weight:bold;
}
table[class="table table-responsive text-center"]>tbody>tr[class="table-titulo"]:hover>td{
	background-color: #fff !important;
	color: #000;
}
.tarifas-precios>div{
	width: 100%;
	background-color: transparent;
	padding: 2%;
	border: 1px solid #a5a1a4;
	border-radius: 10px;
	height: 10%;
}
.btn-despl{
	background-color: transparent;
	margin: 0px;
}
.oculto{
	display: none;
}
.about{
	margin-top: 7%;
	color: #fff;
}
#aboutus>h1>span{
	font-family: "base";
}
.foto-about{
	width: 300px;
	height: 300px;
	max-width: 300px;
	max-height: 300px;
	border-radius: 50%;
	margin-top: 10%;
	background-color: #f3eef2;
}
.nombre{
	font-size: 40px;
	margin-top: 2%;
	color: #00ffa5;
}
.puesto{
	margin-top: -1%;
	font-size: 20px;
	color: #ddd7da;
}
.descripcion{
	margin-top: 4%;
}
.tomas{
	background-image: url("../img/team/tomas-b.jpg");
	background-size: 280px 486px;
	background-position: 35% 15%;
	background-repeat: no-repeat;  
}
#tomas:hover>.tomas{
	background-image: url("../img/team/tomas-m.jpg");
	background-size: 280px 486px;
	background-position: 10% 40%;
	background-repeat: no-repeat;  
}
#skills{
	color: #fff;
}
.skills1{
	margin-top: 5%;
}
.skills2{
	margin-top: 5%;
}















